/*========= RESET ==========*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  width: 100%;
  height: auto;
}
/*========= GLOBAL VARIABLES ==========*/
:root {
  /*========= COLORS ==========*/
  /*======= Primary =======*/
  --soft-blue: hsl(215, 51%, 70%);
  --cyan: hsl(178, 100%, 50%);
  --cyan-transparent: hsla(178, 100%, 50%, 0.5);

  /*======= Neutral =======*/
  --very-dark-blue-main-bg: hsl(217, 54%, 11%);
  --very-dark-blue-card-bg: hsl(216, 50%, 16%);
  --very-dark-blue-line: hsl(215, 32%, 27%);
  --white: hsl(0, 0%, 100%);
}

/*========= BODY ==========*/
body {
  max-width: 100%;
  min-height: 100vh;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  background: var(--very-dark-blue-main-bg);

  font-family: 'Outfit', sans-serif;
}

/*========= CARD ==========*/
.card {
  background: var(--very-dark-blue-card-bg);
  width: 20rem;
  -webkit-box-shadow: 0px 4px 6px 1px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 4px 6px 1px rgba(0, 0, 0, 0.3);

  margin: 2rem 0;

  border-radius: 0.9rem;
  padding: 1.4rem;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.2rem;
}

.card .item {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.image {
  position: relative;
}

.card .item .item-img {
  border-radius: 0.5rem;
}

.overlay {
  background-color: var(--cyan-transparent);
  background-image: url(./images/icon-view.svg);
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 0.5rem;
  height: 98.5%;
  width: 100%;
  top: 0;
  left: 0;
  position: absolute;
  opacity: 0;
  transition: 0.2s;
}

.overlay:hover {
  opacity: 1;
  cursor: pointer;
}

.card .item .item-title {
  color: var(--white);
  font-size: 1.25rem;
  width: fit-content;
}

.card .item .item-title:hover {
  color: var(--cyan);
  cursor: pointer;
}

.card .item .item-description {
  font-weight: 300;
}

.card .item .item-description,
.card .item .price-info .days-left {
  color: var(--soft-blue);
}

.card .item .price-info .item-price {
  color: var(--cyan);
}

.card .item .price-info {
  width: 17.2rem;
  display: flex;
  justify-content: space-between;
}

.card .item .price-info img {
  display: inline-block;
  width: 0.8rem;
}

.card .item .price-info .item-price,
.card .item .price-info .days-left {
  display: flex;
  align-items: center;
  gap: 0.45rem;
  font-size: 0.9rem;
}

.card .item .price-info .item-price img {
  width: 0.6rem;
}

.divider {
  background: var(--very-dark-blue-line);
  height: 0.1rem;
  width: 17rem;
}

.author {
  width: 17.6rem;

  display: flex;
  gap: 0.7rem;
  justify-content: flex-start;
  align-items: center;
}

.avatar {
  width: 2rem;
  border: 1px solid var(--white);
  border-radius: 50%;
}

.author-name {
  display: inline-block;
  font-size: 1rem;
  font-weight: 400;
  color: var(--soft-blue);
}

.author-name span {
  color: var(--white);
}

.author-name span:hover {
  color: var(--cyan);
  cursor: pointer;
}

footer {
  color: var(--soft-blue);
  font-size: 0.8125rem;
  text-align: center;

  width: 20rem;
  margin-bottom: 0.2rem;
}

footer a {
  color: var(--white);
}

footer a:hover {
  color: var(--cyan);
}
